#wrapper{
    width: 80%;
    margin: auto;
    position:relative;
}

.col-4 {width: 33.33%;
        padding: 10px;
        position: sticky;
        top: 0;
        float: right;
        z-index: 1;
}
.col-8{
    width: 66.66%;
}

#smiley{
    position:absolute;
    width: 50%;
    float: right;
    z-index: 2;
}
body{
    background-color: black;
}
*{
        margin: 0; 
        padding: 0;
        font-family: "Share Tech Mono", monospace;
        font-weight: 400;
        font-style: normal;
        color: rgb(75, 39, 255);
        text-transform: lowercase;
}

h1{
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: right;
    width: -33%;
}

h2{
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: right;
    width: -33%;
}

ul{
    list-style-type: none;
    text-align: right;
    width: -33%;
}

#pgraph{
    font-size: .9em;
    line-height: 1.1em;
    text-align: justify;
    width: 66%;
    overflow: auto;
}

img{
    width: 33%;
    height: 33%;
}

a:link{
    display: inline;
    color:rgb(75, 39, 255);
    text-decoration:underline dashed;
}
    a:visited{
    color:rgb(255, 255, 255);
}
    a:hover{
    color:rgb(255, 175, 28);
}
#foot{
    padding-top: 10px;
    float: right;
    text-align: right;
}